body {
  font-size: 16px;
  background-image: url(../images/background.png);
  background-size: 20%;
}

h1 {
  text-align:center;
}

h2 {
  text-align: center;
  color: royalblue;
}

p {
  text-align: center;
}

.container {
  width: 80%;
  margin: auto;
}

.flex {
  display: flex;
}

.bareisyo {
  margin-right: 2em;
}

@media (prefers-color-scheme: dark) {
  body {
    background-image: url(../images/background_dark.png);
    background-size: 20%;
  }
  
  h1 {
    color: #F3E8CC;
  }

  p {
    color: #F3E8CC;
  }
}  